.container{
    width: 800px;
    margin: 5px auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
.blue{
    border: solid black;
    border-radius: 4px;
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 3px;
    display: flex;
}
.green{
    border: solid black;
    border-radius: 4px;
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 3px;
    display: flex;
}
.red{
    border: solid black;
    border-radius: 4px;
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 3px;
    display: flex;
}
.changeBlue{
    text-align: center;
    display: flex;
    margin: auto;
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(32, 80, 168);
    border: 0.5px solid black;
    color: white;
}
.changeGreen{
    text-align: center;
    display: flex;
    margin: auto;
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(32, 80, 168);
    border: 0.5px solid black;
    color: white;
}
.changeRed{
    text-align: center;
    display: flex;
    margin: auto;
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(32, 80, 168);
    border: 0.5px solid black;
    color: white;
}
.intoBlue{
    background-color: blue;
}
.intoGreen{
    background-color: green;
}
.intoRed{
    background-color: red;
}
.random{
    max-width: 800px;
    height: 90px;
    margin: 5px auto;
    border: solid black;
    background-color: white;
    border-radius: 4px;
    display: flex;
}
.changeRandom{
    text-align: center;
    display: flex;
    margin: auto;
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(32, 80, 168);
    border: 0.5px solid black;
    color: white;
}
.slider{
    max-width: 800px;
    margin: 5px auto;
    border: solid black;
    border-radius: 4px;
    display: flex;
}
.slider-red{
    margin: 20px auto;
    display: flex;
}
.slider-green{
    margin: 20px auto;
    display: flex;
}
.slider-blue{
    margin: 20px auto;
    display: flex;
   
}
.redBox{
    width: 50px;
    height: 50px;
    border: solid black;
    display: flex;
    margin: 3px auto;
    background-color: red;
}

.greenBox{
    width: 50px;
    height: 50px;
    border: solid black;
    display: flex;
    margin: 3px auto;
    background-color: green;
}
.blueBox{
    width: 50px;
    height: 50px;
    border: solid black;
    display: flex;
    margin: 3px auto;
    background-color: blue;
}
.mouse{
    max-width: 800px;
    height: 90px;
    background-color: blue;
    margin: auto;
    border: solid black;
    border-radius: 4px;
}